.body-cinema {
    background: #D0D0D0;
}

.nav-inverse {
    min-height: 10%;
    background-color: #1b6d85;
    border: none;
}

.contanier-fluid {
    margin-top: 64px;
}

.jumbotron {
    background: #00678E;
    min-height: 500px;
    border-radius: 0px !important;
    margin-bottom: 0px;
}

.titulo-cartelera {
    max-height: 45px;
    background: #082D5E;
}

.movies-row {
    background: #00678E;
    min-height: 350px;
    padding-left: 15px;
    padding-right: 15px;
}

.movies-column {
    margin-top: 5px;
    background: #00678E;
    min-height: 330px;
    border: 1px dashed #FFFFFF;
}

.left-column {
    border-right: 1px dashed #FFFFFF;
}

@media (max-width: 770px) {
    /* Clase para ocultar componentes HTML */
    .right-column {
        display: none;
    }

    .movies-row {
        min-height: 250px;
    }

    .movies-column {
        min-height: 230px;
    }

    .jumbotron {
        min-height: 350px;
    }
}

